<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <header>
        <h1>Gestão de Funcionários</h1>
        <nav>
            {% if user %}
                <a href="/employees">Funcionários</a>
               
                <a href="/departments">Departamentos</a>
                <a href="/positions">Cargos</a>
                    Logado como: <strong>{{ user.username }}</strong>
                </span>
                <a href="/logout" class="button-logout">Sair (Logout)</a>
            
            {% else %}
                
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        
    </footer>

    <script src="{{ url_for('static', path='/app.js') }}"></script>
</body>
</html>